# EXAMPLE "local.cfg" for DSpace.
#
# Any configurations added to this file will automatically OVERRIDE configurations
# of the same name in any of the DSpace *.cfg files. This includes overriding
# settings in any of these files:
#    * [dspace]/config/dspace.cfg
#    * Or any configuration file that is included in 'dspace.cfg'
#     (See "include = [filepath]" settings near the end of dspace.cfg.
#      By default, it includes all [dspace]/config/modules/*.cfg files)
#
# By default, this EXAMPLE file includes a number of commonly overridden configurations.
# * ADD configurations by simply copying them into this file from any existing *.cfg file.
# * REMOVE configurations by simply commenting them out or deleting them below.
#
# Any commented out settings in this file are simply ignored. A configuration
# will only override another configuration if it has the EXACT SAME key/name.
# For example, including "dspace.dir" in this local.cfg will override the
# default value of "dspace.dir" in the dspace.cfg file.
# Similarly, including "oai.solr.url" in this local.cfg will override the
# default value of "oai.solr.url" in the modules/oai.cfg file.
#

##########################################################################################
# Dome Configuration Organization                                                  #
#                                                                                        #
# This file is organized with sections:                                                  #
#                                                                                        #
# Overwritten by Ansible:   Variables overwritten by vtlibans site_secrets.yml variables.#
#                                                                                        #
# Not overwritten by Ansible: Variables in dspace.cfg that are overwritten in local.cfg  #
#                             in roughly the order the variables appear in dspace.cfg.   #
#                                                                                        #
# Overwritten modules files:  Variable in config/modules files overwritten by local.cfg, #
#                             listed in alphebetical order of module filenames.          #
#                                                                                        #
# Note: config/authentication-ip.cfg has been customized directly.                       #
########################################################################################## 


##########################################################################################
# OVERWRITTEN BY ANSIBLE   Variables overwritten by vtlibans site_secrets.yml variables. #
##########################################################################################

##### Basic information ######

# DSpace host name - should match base URL.  Do not include port number.
dspace.hostname = {{ endpoint_url }}

# DSpace base host URL.  Include port number etc.
dspace.baseUrl = {{ http_s }}${dspace.hostname}

##### Database settings #####
# DSpace only supports two database types: PostgreSQL or Oracle

# URL for connecting to database
db.url = {{ database_url }}

# Database username and password
db.username = {{ database_user }}
db.password = {{ database_user_password }}

#---------------------------------------------------------------#
#--------------XMLUI SPECIFIC CONFIGURATIONS--------------------#
#---------------------------------------------------------------#
# These configs are only used by the XML User Interface         #
#---------------------------------------------------------------#

# If you would like to use Google Analytics to track general website statistics then
# use the following parameter to provide your Analytics key. First sign up for an
# account at http://analytics.google.com, then create an entry for your repository
# website. Analytics will give you a snipet of JavaScript code to place on your site,
# inside that snipet is your Google Analytics key usually found in this line:
# _uacct = "UA-XXXXXXX-X"
# Take this key (just the UA-XXXXXX-X part) and place it here in this parameter.
xmlui.google.analytics.key = {{ ga_key }}

##########################################################################################
# NOT OVERWRITTEN BY ANSIBLE  Variables in dspace.cfg that are overwritten in local.cfg  #
#                               in roughly the order the variables appear in dspace.cfg. #                                                         #
##########################################################################################

# DSpace installation directory.
dspace.dir=/dspace

##### Basic information ######

# Full link your end users will use to access DSpace. In most cases, this will be the baseurl followed by
# the context path to the UI you are using.
#
# Alternatively, you can use a url redirect or deploy the web application under the servlet container root.
# In this case, make sure to remove the /${dspace.ui} from the dspace.url property.
#dspace.url = ${dspace.baseUrl}/${dspace.ui}
# Changed in local.cfg.j2
dspace.url = ${dspace.baseUrl}

# Name of the site
dspace.name = Dome

# Default language for metadata values
default.language = en

##### Database settings #####

## Connection pool parameters
db.maxidle = -1

# Determine if prepared statement should be cached. (default is true)
#db.statementpool = true

# Specify a name for the connection pool (useful if you have multiple applications sharing Tomcat's dbcp)
# If not specified, defaults to 'dspacepool'
#db.poolname = dspacepool

# TODO db.statementpool and db.poolname do not appear in dspae.cfg in DSpace 6

# Solr server/webapp.
# DSpace uses Solr for all search/browse capability (and for usage statistics by default).
# The included 'solr' webapp MUST be deployed to Tomcat for DSpace to function.
# Usually it will be available via port 8080 and the 'solr' context path. But,
# But, you may need to modify this if you are running DSpace on a custom port, etc.
# TODO - check solr.server = http://localhost:8080/solr


#######################
# EMAIL CONFIGURATION #
#######################

# SMTP mail server (allows DSpace to send email notifications)
mail.server = localhost

# From address for mail
# All mail from the DSpace site will use this 'from' address
mail.from.address = no-reply@Dome.mit.edu

# When feedback is submitted via the Feedback form, it is sent to this address
# Currently limited to one recipient!
feedback.recipient = Dome@mit.edu

# General site administration (Webmaster) e-mail
mail.admin = Dome@MIT.edu

# Recipient for new user registration emails (defaults to unspecified)
registration.notify = ${mail.admin}

##### Logging configuration #####

# TODO check config/log4j.properties

# All other log4j settings moved to config/log4j.properties - DSpace 6

# DSpace 5 settings
# Where to put the logs (used in configuration only)
log.dir = ${dspace.dir}/log

# If enabled, the logging and the Solr statistics system will look for
# an X-Forwarded-For header. If it finds it, it will use this for the user IP address
#useProxies = true

########################
# HANDLE CONFIGURATION #
########################
#
# Canonical Handle URL prefix
#
# Items in DSpace receive a unique URL, stored in dc.identifier.uri
# after it is generated during the submission process.
# 
# If you register with CNRI's handle service at http://www.handle.net/,
# these links can be generated as permalinks using http://hdl.handle.net/
# as canonical prefix. Please make sure to change handle.canonical.prefix
# after registering with handle.net by uncommenting one of the following
# lines, depending if you prefer to use http or https:
handle.canonical.prefix = http://hdl.handle.net/
# handle.canonical.prefix = https://hdl.handle.net/
#
# Note that this will not alter dc.identifer.uri metadata for existing
# items (only for subsequent submissions), but it will alter the URL
# in JSPUI's 'identifier' message on item record pages for existing items.

# CNRI Handle prefix
# (Defaults to a dummy/fake prefix of 123456789)
#handle.prefix = 123456789
handle.prefix = 1721.3

#ported from old dome config
webui.browse.thumbnail.show = true
webui.browse.thumbnail.maxheight = 200
webui.browse.thumbnail.maxwidth = 200
thumbnail.maxwidth  = 200
thumbnail.maxheight = 200


xmlui.google.analytics.key = {{ ga_key }}

